<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sp2016.cs310.com.hw2furkankemikli">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light"
        android:screenOrientation="portrait">
        <activity android:name="sp2016.cs310.com.hw2furkankemikli.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sp2016.cs310.com.hw2furkankemikli.activity.InfoActivity"
            android:label="INFO"/>
        <activity android:name="sp2016.cs310.com.hw2furkankemikli.activity.NewNoteActivity"
            android:label="NOTE"/>
        <activity android:name="sp2016.cs310.com.hw2furkankemikli.activity.ViewNoteActivity"
            android:label="NOTE"/>
    </application>

</manifest>